---
import Layout from '../../layouts/Layout.astro';
import FuturesTablesContainer from '../../components/common/FuturesTablesContainer';
---

<Layout title="Natural Gas">
  <main class="flex-1 pt-0 px-8 pb-8">
    <div class="max-w-7xl mx-auto">
      <FuturesTablesContainer client:only="react" />
    </div>
  </main>
</Layout> 